html {
  font-family: "inter";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: whitesmoke;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Italic.ttf);
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Light.ttf);
  font-weight: light;
  font-style: light;
}

body {
  background: radial-gradient(#313131, #1d1d1d 60%);
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  color: whitesmoke;
}

.box-texto-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  min-width: 20vw;
  padding: 0;
  margin-left: -8rem;
  flex-direction: row-reverse;
}

.descripcion_sobremi {
  max-width: 800px;
  max-height: 250px;
  font-size: 1.2rem;
  color: rgb(176, 176, 176);
  padding: 0.5rem;
  margin: 0;
  border-left: rgb(176, 176, 176) 0.2rem solid;
  box-shadow: 0 0 30px #323232c1;
  border-radius: 5px;
  display: flex;
  padding-right: 0;
}

.p1-titulos {
  font-size: 3.2rem;
  color: rgb(176, 176, 176);
  margin: 0;
  margin-left: -10rem;
  padding-top: 6rem;
  font-weight: bold;
}

.p2-titulos {
  font-size: 3.5rem;
  color: rgb(158, 22, 22);
  margin: 0;
  margin-left: -7.5rem;
  height: 20vh;
  font-weight: bold;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px #171717d8;
  background-color: #313131;
  width: 100%;
  height: 3.8vh;
  gap: 1rem;
}

.nav-links {
  padding: 0.5rem;
  text-decoration: none;
  margin: 2rem;
  font-weight: bold;
  color: rgb(158, 22, 22);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links:hover {
  color: rgb(200, 30, 30);
  height: 1.5rem;
  box-shadow: 0 0 20px #1d1d1d70;
}

.Box-logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.simbolo-izq-logo {
  color: rgb(158, 22, 22);
  font-weight: bold;
  font-size: 1.7rem;
}
.barra-der-logo {
  color: #1d1d1d;
  font-weight: bold;
  font-size: 1.8rem;
}

.simbolo-der-logo {
  color: rgb(158, 22, 22);
  font-weight: bold;
  font-size: 1.7rem;
}

.link-logo {
  color: rgb(176, 176, 176);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

h3 {
  margin-top: 1.35rem;
}

img {
  padding: 0;
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 50px;
  box-shadow: #1d1d1d 0px 0px 20px;
  margin-left: 2rem;
}

.box-foto-perfil {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}

.descripcion_sobremi p {
  margin-top: 1.5rem;
}

.boton-descargar-cv {
  translate: 32rem 15rem;
  padding: 0.5rem 1rem;
  background-color: rgb(158, 22, 22);
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  text-decoration: none;
}

.boton-descargar-cv:hover {
  background-color: rgb(200, 30, 30);
}

.indicador-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  background-color: rgb(158, 22, 22);
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 0.4vh;
  border-radius: 10px;
  transform: translateX(1.1rem);
}

/* @mediaquery para .indicador-pagina */

@media screen and (max-width: 1920px) {
  .indicador-pagina {
    transform: translateX(1vw);
  }
}

@media screen and (max-width: 1366px) {
  .indicador-pagina {
    transform: translateX(1.3vw);
  }
}

@media screen and (max-width: 1280px) {
  .indicador-pagina {
    transform: translateX(1.3vw);
  }
}

/* fin de @mediaquery para .indicador-pagina */

/* @mediaquery para .Box-logo */

@media screen and (max-width: 1920px) {
  .Box-logo {
    transform: translateX(0vw);
  }
}

@media screen and (max-width: 1366px) {
  .Box-logo {
    transform: translateX(0vw);
  }
}

@media screen and (max-width: 1280px) {
  .Box-logo {
    transform: translateX(0vw);
  }
}

/* fin de @mediaquery para .Box-logo */
