html {
  font-family: "inter";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: whitesmoke;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Italic.ttf);
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/Inter_18pt-Light.ttf);
  font-weight: light;
  font-style: light;
}

body {
  background: radial-gradient(#313131, #1d1d1d 60%);
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  color: whitesmoke;
}

.box-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 95vh;
  min-width: 20vw;
  padding: 0;
  margin-left: -5rem;
  flex-direction: row-reverse;
}

.box-certificados {
  max-width: 50vw;
  min-width: 30vw;
  height: 300px;
  font-size: 1.2rem;
  color: rgb(176, 176, 176);
  padding: 0.5rem;
  margin: 0;
  border-left: rgb(176, 176, 176) 0.2rem solid;
  box-shadow: 0 0 30px #323232c1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulos p {
  font-size: 3.2rem;
  color: rgb(176, 176, 176);
  margin-left: -13rem;
  font-weight: bold;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px #171717d8;
  background-color: #313131;
  width: 100%;
  height: 3.8vh;
  gap: 1rem;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding: 0.5rem;
  text-decoration: none;
  margin: 2rem;
  font-weight: bold;
  color: rgb(158, 22, 22);
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
}

.nav-links-container {
  margin-left: auto;
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-links:hover {
  color: rgb(200, 30, 30);
  box-shadow: 0 0 20px #1d1d1d70;
}

.Box-logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simbolo-izq-logo {
  color: rgb(158, 22, 22);
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 0.8rem;
}
.barra-der-logo {
  margin-top: 0.8rem;
  color: #1d1d1d;
  font-weight: bold;
  font-size: 1.8rem;
}

.simbolo-der-logo {
  margin-top: 0.8rem;
  color: rgb(158, 22, 22);
  font-weight: bold;
  font-size: 1.7rem;
}

.link-logo {
  color: rgb(176, 176, 176);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

img {
  max-width: 600px;
  max-height: 250px;
  border-radius: 10px;
}

.box-img1,
.box-img2 {
  margin: 1rem;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #1d1d1d;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
}

.box-img2 h2 {
  font-size: 1.3rem;
}

h2 {
  font-weight: bold;
}

h2 span {
  color: rgb(158, 22, 22);
  margin-right: 0.1rem;
}

.box-img1 h1 {
  font-size: 1.5rem;
}

h1 {
  margin-top: 0.5rem;
  font-weight: bold;
}

h1 span {
  color: rgb(158, 22, 22);
  margin-right: 0.1rem;
}

.indicador-pagina {
  margin: 0;
  translate: 42.2vw 1.3vh;
  background-color: rgb(158, 22, 22);
  width: 2.5vw;
  height: 0.4vh;
  border-radius: 10px;
}

/* @mediaquery para .indicador-pagina */

@media screen and (max-width: 1920px) {
  .indicador-pagina {
    transform: translateX(-5vw);
  }
}

@media screen and (max-width: 1680px) {
  .indicador-pagina {
    translate: 47vw 1.3vh;
  }
}

@media screen and (max-width: 1366px) {
  .indicador-pagina {
    transform: translateX(4.5vw);
  }
}

@media screen and (max-width: 1280px) {
  .indicador-pagina {
    transform: translateX(8vw);
  }
}

/* fin de @mediaquery para .indicador-pagina */

/* @mediaquery para .Box-logo */

@media screen and (max-width: 1920px) {
  .Box-logo {
    transform: translateY(0.2rem);
  }
  .simbolo-der-logo,
  .barra-der-logo,
  .simbolo-izq-logo {
    margin-top: 0.6rem;
  }
}

@media screen and (max-width: 1680px) {
  .Box-logo {
    transform: translateY(0.2rem);
  }

  .simbolo-der-logo,
  .barra-der-logo,
  .simbolo-izq-logo {
    margin-top: 0.6rem;
  }
}

@media screen and (max-width: 1366px) {
  .Box-logo {
    transform: translateX(0vw);
  }
  .simbolo-der-logo,
  .barra-der-logo,
  .simbolo-izq-logo {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .Box-logo {
    transform: translateY(0.2rem);
  }

  .simbolo-der-logo,
  .barra-der-logo,
  .simbolo-izq-logo {
    margin-top: 0.6rem;
  }
}

/* fin de @mediaquery para .Box-logo */

@media screen and (max-width: 1366px) {
  .box-certificados {
    max-width: 60vw;
    min-width: 30vw;
  }

  .box-centro {
    margin-left: 4vw;
  }
}

@media screen and (max-width: 576px) {
  .Box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(60%);
  }

  .simbolo-der-logo,
  .barra-der-logo,
  .simbolo-izq-logo {
    margin-top: 0rem;
  }

  nav {
    height: 5vh;
  }

  h1 {
    margin-top: 1rem;
  }

  h2 {
    margin-top: 1rem;
  }

  h3 {
    padding-bottom: 0.5rem;
  }

  .navbar {
    --bs-navbar-padding-y: 0rem;
  }

  .container-fluid {
    --bs-gutter-x: 0rem;
    justify-content: center;
  }
  .navbar-toggler {
    border: 2px solid #1d1d1d;
    color: #1d1d1d;
    transform: translateY(-0.4rem);
    margin: 0px;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid rgb(158, 22, 22);
  }

  .nav-links-container {
    margin-left: 0rem;
    flex-direction: column;
    background-color: #313131;
    border-radius: 10px;
    margin: none;
    padding: none;
    box-shadow: 0 0 30px #171717d8;
  }
  .nav-links {
    margin: 10px;
    padding: 0px;
    gap: 0px;
    text-align: center;
  }

  .box-centro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0rem;
  }

  .box-certificados {
    min-width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .titulos p {
    display: none;
    translate: 10rem -15rem;
    margin-left: 0rem;
  }

  .box-img1,
  .box-img2 {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 350px;
  }

  img {
    width: 300px;
  }
}
